@import "_normalize.css";
@font-face {
  font-family: "Attentica";
  src: url(Attentica.ttf) format("truetype"),
    url(AttenticaUltraLight.otf) format("opentype");
}

/* components imports */
body {
  font-family: "Montserrat", sans-serif;
}

/* NAV BAR  */
#title nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 2;
  padding: 0 5%;
  /* border-bottom: 1px solid white; */
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(
    #000,
    rgba(0, 0, 0, 0.95) 30.3%,
    rgba(0, 0, 0, 0.9) 40.3%,
    rgba(0, 0, 0, 0.85) 45.8%,
    rgba(0, 0, 0, 0.8) 50.5%,
    rgba(0, 0, 0, 0.75) 55.4%,
    rgba(0, 0, 0, 0.7) 60.5%,
    rgba(0, 0, 0, 0.65) 65.9%,
    rgba(0, 0, 0, 0.6) 70.7%,
    rgba(0, 0, 0, 0.55) 75%,
    rgba(0, 0, 0, 0.25) 90%,
    transparent
  );
}

#title nav .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
}

#title .nav-top {
  position: absolute;
  right: 0;
  top: 50%;
}

#title .nav-bottom {
  position: absolute;
  left: 0;
  top: 50%;
}

#title nav .nav-link {
  padding: 0;
  padding-right: 1em;
  font-size: smaller;
}

#title .nav-top .nav-link {
  padding-right: 0;
  padding-left: 1em;
}

#title .wrapper img {
  position: absolute;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
}

#title nav .icon {
  display: none;
  color: white;
  font-size: 2rem;
  width: 32px;
  text-align: right;
}

#title nav .icon:hover {
  color: #fff;
}

#title .dropdown {
  width: 100%;
  z-index: 10;
  height: 0;
  overflow: hidden;
  transition: all 1s;
}

@media (min-width: 1500px) {
  #title nav .wrapper {
    max-width: 1250px;
  }
}

@media (max-width: 1200px) {
  #title .wrapper img {
    height: 70px;
  }
  #title nav {
    padding: 0;
    height: 15vh;
  }
}

@media (max-width: 1050px) {
  #title .wrapper img {
    height: 70px;
    left: 15%;
  }

  #title nav .wrapper .nav-top,
  #title nav .wrapper .nav-bottom {
    display: none;
  }

  #title nav .icon {
    z-index: 100;
    display: block;
    position: absolute;
    right: 15%;
    bottom: 25px;
  }

  /* #title nav h1 {
    left: 7%;
    margin: 0;
  } */

  #title .dropdown {
    top: 100%;
    left: 0;
    flex-direction: column;
  }

  #title .dropdown a {
    background-color: black;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #fff;
  }

  /* STOP AT POSITION Z_INDEX */
  #title .dropdown.responsive {
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 400px) {
  #title .wrapper img {
    left: 70px;
    height: 64px;
  }
  #title nav .icon {
    right: 10%;
    font-size: 40px;
  }
}

/* NAV BAR finished */

/* CAROUSEL */
.carousel {
  z-index: 0;
}

#title .mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#title .carousel-inner h1 {
  font-family: "Attentica", sans-serif;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 33%;
  text-align: center;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 8rem;
  padding: 0 10vw;
}

#title .carousel-inner p {
  color: white;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 65%;
  text-align: center;
  font-size: 2.5rem;
  padding: 0 15vw;
  text-shadow: 0 0 15px black;
}

#title .carousel-item:nth-of-type(3) h1 {
  padding: 0 15vw;
  transform: translateY(-40%);
}
#title .carousel-item:nth-of-type(4) p {
  padding: 0 10vw;
}

#title .carousel-inner img {
  /* filter: grayscale(20%); */
  height: 100vh;
  object-fit: cover;
}
#title .carousel-inner img.mobile {
  display: none;
}

@media (max-width: 1450px) {
  #title .carousel-inner h1 {
    font-size: 6rem;
    letter-spacing: 0.7rem;
  }

  #title .carousel-inner p {
    font-size: 2rem;
  }
}

@media (max-width: 1100px) {
  #title .carousel-inner h1 {
    font-size: 5rem;
  }

  #title .carousel-inner p {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  #title .carousel-inner h1 {
    font-size: 4rem;
    top: 35vh;
    padding: 0 5vw;
    letter-spacing: 0.5rem;
  }

  #title .carousel-inner p {
    font-size: 1.2rem;
    top: 65vh;
    padding: 0 5vw;
    font-family: "Montserrat", sans-serif;
  }

  #title .carousel-item:nth-of-type(3) h1 {
    padding: 0 5vw;
    font-size: 3.5rem;
    transform: translateY(-30%);
  }
  #title .carousel-item:nth-of-type(4) h1 {
    transform: translateY(-30%);
  }
  #title .carousel-item:nth-of-type(4) p {
    padding: 0 5vw;
  }

  #title div.blond-second img {
    object-position: left;
  }

  .carousel-indicators {
    bottom: 5vh;
  }
  #title .carousel-inner img:not(.mobile) {
    display: none;
  }
  #title .carousel-inner img.mobile {
    display: block;
  }
}
/* 
@media (min-width: 900px) and (max-width: 1300px) {
  #title .carousel-inner h1 {
    font-size: 3.5rem;
  }
} */

/* Carousel finished */
/* Features start */
#features div {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10% 0;
}

#features h1 {
  margin: 0;
  font-size: 2rem;
}

@media (max-width: 900px) {
  #features div {
    padding: 15% 0;
  }

  #features h1 {
    font-size: 18px;
    line-height: 30px;
    padding: 0 5vw;
  }
}

/* Features done */
/* ABOUT US */
#about {
  height: 100vh;
  position: relative;
}

#about h2 {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 5%;
  left: 5%;
}

#about .row {
  margin: 0;
  height: 100%;
}

#about .block-img {
  height: 100%;
  width: 100%;
  background-image: url(../img/block-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about .block-content {
  display: flex;
  align-items: center;
  padding: 0 10%;
}

#about h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  #about {
    height: auto;
  }

  #about h2 {
    font-size: 18px;
  }

  #about .block-img {
    height: 35vh;
  }

  #about .block-content {
    height: 35vh;
  }

  #about h3 {
    font-size: 20px;
    line-height: 1.5;
  }
}

/* PRICE part */

#price {
  background-color: #000;
  height: 90vh;
  border-top: 1px solid #000;
}

#price .font-price {
  font-family: "Attentica", sans-serif;
  font-size: 28px;
  letter-spacing: 4px;
}

#price h2 {
  margin: 3% 0;
  padding-left: 5%;
  margin-bottom: 0;
  color: #fff;
}

#price table {
  margin: 0 auto;
  line-height: 3rem;
  height: 100%;
}

#price th {
  width: 15%;
  text-align: center;
  font-weight: 400;
}

#price table tr {
  border-bottom: 1px solid #fff;
}

#price td {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
}

#price .type-name {
  width: 20%;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}

#price .dark-block {
  display: inline-block;

  background-color: #000;
  color: #fff;
  padding: 0 10px;
  margin: 10px 0;
}
#price .mobile-price {
  display: none;
}

@media (max-width: 1050px) {
  #price table {
    line-height: 1.5;
    height: 80%;
    margin-top: 10%;
  }

  #price .card-group .card {
    border-left: 1px solid #fff;
  }
}
@media (max-height: 900px) {
  #price table {
    line-height: 1.5;
    height: 70%;
    margin-top: 3%;
  }
}
@media (max-width: 900px) {
  #price {
    height: auto;
    padding-bottom: 15px;
  }
  #price h2 {
    font-size: 18px;
  }

  #price .font-price {
    font-weight: 600;
  }

  #price table {
    display: none;
  }
  #price .mobile-price {
    display: block;
    margin-top: 5%;
  }
  #price .card-group {
    display: block;
  }
  #price .card-body {
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  #price .mobile-price .card-group:last-child .card:last-child {
    margin-bottom: 0;
  }
}

/* Дополнительные услуги */

#add-price .font-price {
  font-family: "Attentica", sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
}

#add-price .card {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

#add-price .card-title {
  text-align: center;
}
#add-price .card-text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 600px) {
  #add-price {
    padding: 15px;
    padding-top: 0;
    background-color: #000;
  }
  #add-price .font-price {
    font-size: 28px;
    font-weight: 600;
  }
  #add-price .card-group {
    display: block;
  }

  #add-price .card-group .card {
    border-left: 1px solid #fff;
  }

  #add-price .card-title {
    text-align: left;
  }
  #add-price .card-text {
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
  }
  #add-price .card-body {
    padding: 0.5rem;
  }
  #add-price .mobile-invisible {
    display: none;
  }
}

/* FOOTER */
.footer {
  padding: 80px 0;
  color: #666;
  background-color: #f1f1f2;
}

@media (max-width: 600px) {
  .footer {
    padding-bottom: 40px;
  }
}

.footer-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  align-items: flex-end;
}

.holder {
  margin: 0 60px;
}

@media (max-width: 900px) {
  .footer-holder {
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-logo {
  width: 116px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 600px) {
  .footer-logo {
    width: 64px;
  }
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e2e6e9;
}

.social-item:first-child {
  margin-left: 0;
}

.social-item {
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 990px) {
  .social-icon.is__vk,
  .social-icon.is__fb,
  .social-icon.is__inst {
    vertical-align: text-top;
  }
}

@media (max-width: 600px) {
  .social-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.social-icon.is__vk {
  width: 23px;
}

.social-icon.is__fb {
  width: 11px;
}
.social-item .social-icon {
  padding: 0;
}
.social-icon.is__inst {
  width: 18px;
}

.social-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

.social-title {
  margin-left: 15px;
  vertical-align: text-bottom;
}
.social-linkBlock {
  text-decoration: none;
  color: inherit;
}
.footer a:active,
.footer a:hover {
  outline-width: 0;
  color: inherit;
  text-decoration: none;
}

.footer-descr {
  display: block;
  text-align: center;
}
.footer-contacts {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #666;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
}

/* BUTTON online */

.yButton.right {
  right: 30px !important;
}
.yButton.bottom {
  bottom: 30px !important;
}
.yButton {
  position: fixed !important;
  width: 100px !important;
  height: 100px !important;
  box-sizing: border-box !important;
}
.yButtonBackground {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100px !important;
  height: 100px !important;
  border-radius: 100% !important;
  background-color: #ee3624;
  opacity: 0.8 !important;
  box-sizing: border-box !important;
}
.yButtonWave {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 50% !important;
  color: #ee3624;
  border: 2px solid !important;
  width: 105%;
  height: 105%;
  opacity: 0.9 !important;
  box-sizing: border-box !important;
  -webkit-animation: 2s cubic-bezier(0.37, 0, 0.8, 0.77) infinite wave-stroke;
  -moz-animation: 2s cubic-bezier(0.37, 0, 0.8, 0.77) infinite wave-stroke;
  -o-animation: 2s cubic-bezier(0.37, 0, 0.8, 0.77) infinite wave-stroke;
  animation: 2s cubic-bezier(0.37, 0, 0.8, 0.77) infinite wave-stroke;
}
.yButtonText {
  position: absolute !important;
  top: 25px !important;
  left: 5px !important;
  right: 5px !important;
  border-radius: 50% !important;
  width: 90px !important;
  height: 50px !important;
  color: #fff !important;
  font-size: 28px !important;
  font-weight: 800 !important;
  line-height: 32px !important;
  font-family: "Attentica", sans-serif !important;
  text-align: center !important;
  vertical-align: middle !important;
  letter-spacing: 2px !important;
  box-sizing: border-box !important;
}
.yButtonIcon {
  display: none;
  box-sizing: border-box !important;
}

@-moz-keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}
@-o-keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}
@keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}
